<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Admin GPA</title>
    <script>
        function check() { 
            return confirm("Are you sure you want to remove all applications?");
      }
    </script>
</head>

<body>
	<h1>Removing All Applicants</h1>
	<form action="./processAdminRemove" method="post" onsubmit = "return check()">
		<input type="submit" value="Remove all applicants"/>
	</form>
    <hr>
    <a href="./"> HOME</a>
</body>

</html>
