<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="style.css">
	<title>Admin GPA</title>
</head>

<body>
	<h1>Display GPAs Greater Than or Equal To</h1>
	<form action="./processAdminGPA" method="post" >
		<fieldset>
            <p><label><strong>GPA: </strong><input type="number" name="gpa" step="any"/></label></p>
		</fieldset>

		<br>
		<input type="submit" value="Susbmit Request"/>
	</form>
    <hr>
    <a href="./"> HOME</a>
</body>

</html>
