<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <style>
        html {
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
    text-align: center;
}
    </style>
	<title>Package Order</title>
</head>

<body>
	<h1>Package Order</h1>

    <h2>Place an Order</h2>
    
        <p><a href="/placeOrder">Click Here to Place an Order </a></p>
        <p><a href="/findOrder">Click Here to Review Order Status</a></p>
 
</body>

</html>
